openapi: 3.0.0
info:
  title: Pictify Image Generation API
  description: Convert HTML or a webpage URL into high-quality images. Perfect for creating social media cards, screenshots, or visual content at scale.
  version: 1.0.0
  contact:
    name: Pictify Support
    url: https://pictify.io/
    email: support@pictify.io

servers:
  - url: https://pictify-io.p.rapidapi.com/v1
    description: RapidAPI Production Server

paths:
  /image:
    post:
      summary: Generate Image from HTML or URL
      description: Convert HTML or a webpage URL into a high-quality image.
      operationId: generateImage
      tags:
        - Image Generation
      security:
        - RapidAPI: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImageGenerationRequest'
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageGenerationResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    ImageGenerationRequest:
      type: object
      properties:
        url:
          type: string
          format: uri
          description: The URL of the webpage to capture as an image.
          example: https://example.com
        html:
          type: string
          description: Raw HTML content to render as an image.
          example: <html><body><h1>Hello, World!</h1></body></html>
        width:
          type: integer
          minimum: 1
          maximum: 4096
          description: The width of the output image in pixels.
          example: 1200
        height:
          type: integer
          minimum: 1
          maximum: 4096
          description: The height of the output image in pixels.
          example: 630
        selector:
          type: string
          description: CSS selector to capture a specific element instead of the full page.
          example: "#main-content"
        fileExtension:
          type: string
          enum: [png, jpg, jpeg, webp]
          description: The desired file format for the output image.
          example: png
      oneOf:
        - required: [url]
        - required: [html]
      additionalProperties: false

    ImageGenerationResponse:
      type: object
      properties:
        url:
          type: string
          format: uri
          description: The URL of the generated image.
        id:
          type: string
          description: Unique identifier for the generated image.
        createdAt:
          type: string
          format: date-time
          description: Timestamp of when the image was created.
      required:
        - url
        - id
        - createdAt

    ErrorResponse:
      type: object
      properties:
        error:
          type: string
          description: Error message describing what went wrong.
      required:
        - error

  securitySchemes:
    RapidAPI:
      type: apiKey
      in: header
      name: X-RapidAPI-Key
      description: RapidAPI Key for authentication