Hey !! <br><br>

We hope this email finds you well. We noticed that you signed up for, <a href="https://pictify.io/login">Pictify.io</a>,
but haven't yet had the chance to
explore our API service. We're here to help you get started and answer any questions you may have. <br><br>

As a quick recap, Pictify.io offers a seamless API for converting HTML into images and GIFs. Our API is perfect for
generating personalized images at scale. Be it personalized emails, social media posts, or dynamic content on your
website, Pictify.io has you covered. <br><br>

To get started you can visit our <a href="https://docs.pictify.io">documentation</a> to learn more about our API.
<br><br>

If you have any questions or need help getting started, please don't hesitate to reply to this email. We're here to
help you. We can't wait to see what you create with Pictify.io. <br><br>

Best, <br>
Suyash Thakur <br>
Creator, Pictify.io