Hey <%= userName %> !! <br><br>

  Welcome aboard! We're thrilled to have you as the newest member of <b>Pictify.io</b>. Automate your image generation
  by using our easy to use API. <br>
  <br>
  <b>The next steps:</b>
  <br><br>
  To kick start your journey with pictify.io, follow the steps below: <br><br>
  <ol>
    <li>
      <b>Explore Documentation</b>
      <p>Our documentation is the best place to start. It will guide you through the process of creating your first
        image using pictify.io API. Find everything you need to know to make the most out of our API.</p>
      <a href="https://docs.pictify.io">Click here to go through documentation</a>
      <br>
    </li>
    <br>
    <li>
      <b>Get your API Key</b>
      <p>Once you are ready to use our API, you will need an API key. You can get your API key from your dashboard.</p>
      <a href="https://www.pictify.io/documentation/api-token">Click here to get your API key</a>
    </li>
    <br>
    <li>
      <b>Try it out</b>
      <p> Start experimenting with the API by making your first media. The possibilities are endless, and we can't wait
        to see what you create. </p>
    </li>
  </ol>
  <br> Remember, our support team is here to assist you every step of the way. If you have any questions, concerns, or
  feedback, don't hesitate to reach out to us at <a href="mailto:support@pictify.io">support@pictify.io</a>. <br>
  <br> Thanks again for choosing pictify.io. We're excited to be part of your journey! <br>
  <br> Best, <br> Team pictify.io